.pagination {
    width: 30%;
    margin: 0 auto;
    @include media-tabletbig {
        width: 40%;
    }
    @include media-tablet {
        width: 50%;
    }
    @include media-mobile {
        width: 65%;
    } 
    @include media-mobilesmall {
        width: 100%;
        text-align: center;
    }
}


.pagination a {
    @extend %font-add;
    @include font ($size: 1.4rem, $height: 1.2, $weight: 400, $style: normal);
    color: $color-heading;
    float: center;
    padding: 1rem 1.2rem;
    text-decoration: none;
    transition: background-color .3s;
  }
  
  /* Стиль активной/текущей ссылки */
  .pagination a.active {
    background-color: $color-add;
    color: $color-heading;
  }
  
  /* Добавить серый цвет фона при наведении курсора мыши */
  .pagination a:hover:not(.active) {background-color: #ddd;}