$color-main: #E8E8E8;
$color-background: #272727;
$color-add: #FCD54C; 
$color-heading: #FFFFFF;
$color-link: #929292;
$color-text: #E8E8E8;
$color-dark: #000000;
$color-border: #979797;
$color-button-dark: rgba(0, 0, 0, 1);
$color-contact-us: rgba(252, 213, 76, 1);
$color-bg-form: rgba(39, 39, 39, 0.9);
$color-footer-item: #3A3A3A;

/* Color Variables */
/*
$color-twitter: rgb(43, 151, 241);
$color-youtube: rgb(239, 90, 146);
$color-instagram: rgb(82, 127, 166);
$color-linkedin: rgb(0, 101, 153);
$color-facebook: rgb(59, 90, 155);*/
$color-icon: #8a8787;

$content-width: 1399px;
$tablet-width: 1199px;
$tablet-small-width: 991px;
$mobile-width: 767px;
$mobile-small-width: 575px;
