%transition {
    transition: all .2s ease-out;
}

%font-prim {
    font-family: 'Work Sans', sans-serif;
}

%font-add {
    font-family: 'Gilroy', sans-serif;
}

%font-title {
    font-family: 'Space Grotesk', sans-serif;
}